.root {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 2fr;

  height: 200px;
  width: 300px;
}

.ground {
  border-bottom: 10px solid var(--color-grey-900);
}

.walls {
  border-left: 10px solid var(--color-grey-900);
  border-right: 10px solid var(--color-grey-900);
}

.panel {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  border: 0.25rem solid var(--color-grey-900);
  border-radius: 0.25rem;
  padding: 0.75rem;

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    width: 1.5rem;
    border: 0.2rem solid currentColor;
    border-radius: 50%;

    color: var(--color-grey-900);
    font-family: var(--font-monospace);
    font-weight: 700;
    user-select: none;
  }

  button {
    height: 0;
    width: 0;
    border-style: solid;

    &.btnUp {
      border-color: transparent transparent var(--color-grey-900);
      border-width: 0 0.75rem 1rem;

      &:hover {
        border-bottom-color: var(--color-grey-600);
      }

      &:active {
        border-bottom-color: var(--color-grey-100);
      }
    }

    &.btnDown {
      border-color: var(--color-grey-900) transparent transparent;
      border-width: 1rem 0.75rem 0;

      &:hover {
        border-top-color: var(--color-grey-600);
      }

      &:active {
        border-top-color: var(--color-grey-100);
      }
    }
  }
}
