.root {
  overflow: hidden;
  transition-delay: 1s;
  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  position: absolute;
  right: 10px;
  bottom: 50px; // Ground's height

  height: calc(200px + 10px); // floor height + ground thickness
  width: calc(66.666667% - 40px); // shaft width - elevator margin
  margin: 0 10px;
  border: 10px solid currentColor;
}

.door {
  box-sizing: content-box;
  display: inline-block;
  transition: transform 1s ease;

  height: 100%;
  width: 50%;
  margin-left: -5px;
  border-right: 5px solid currentColor;
  background: var(--color-grey-500);

  &.doorOpen {
    transform: translateX(-100%);
  }

  &:last-of-type {
    rotate: 180deg;
    margin: 0 -5px 0 0;
  }
}
