.root {
  overflow: hidden;
  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  position: absolute;
  right: 10px;
  bottom: 50px; // Ground's height

  height: calc(200px + 10px); // floor height + ground thickness
  width: calc(66.666667% - 40px); // shaft width - elevator margin
  margin: 0 10px;
  border: 10px solid currentColor;
}

.door {
  box-sizing: content-box;
  display: inline-block;

  height: 100%;
  width: 50%;
  background: var(--color-grey-500);

  &:first-of-type {
    margin-left: -5px;
    border-right: 5px solid currentColor;
  }

  &:last-of-type {
    margin-right: -5px;
    border-left: 5px solid currentColor;
  }
}
