.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-template-areas:
    "title    title"
    "elevator controls";
  gap: 4rem;

  padding: 4rem 10rem;

  h1 {
    grid-area: title;

    text-shadow: 1px 1px 0 var(--color-black);
    font-family: var(--font-monospace);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }

  .elevator {
    grid-area: elevator;
  }

  .controls {
    grid-area: controls;
  }
}

.elevator {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  p {
    color: red;
    font-size: 1.5rem;
    text-align: center;

    &[data-enabled="true"] {
      color: green;
    }
  }

  button {
    border: 1px solid var(--color-white);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: 700;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-grey-900);
      font-weight: 400;
    }
  }
}
